@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-orange: #e79a8f;
  --color-dark-orange: #bf6e64;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(33, 37, 41);
}

.times {
  font-family: Times, serif;
}

.fade-in {
  animation: fade-in 1.5s;
}

@keyframes fade-in {
  from {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}
